@model OnlineGallery.ViewModels.ImageViewModels.ImageCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CreateImageViewModel</h4>
<hr />

<div class="container body-context">
    <div class="row create-container">
        <div class="form-check drop-shadow"
            <form asp-action="Create"
                method = "post"
                enctype ="multipart/form-data"
                id="create-form">
                <div class="form-group">
                    <label asp-for="AlbumId"></label>
                    <input asp-for="AlbumId" class="form-control"/>
                </div>
                <div class="form-group">
                    <label asp-for="Tags"></label>
                    <input asp-for="Tags" class="form-control"/>
                </div>
                <div class="form-group">
                    <label asp-for="Geolocation"></label>
                    <input asp-for="Geolocation" class="form-control"/>
                </div>
                <div class="form-group">
                    <label asp-for="CreatedBy"></label>
                    <input asp-for="CreatedBy" class="form-control"/>
                </div>
                <div class="form-group">
                    <label asp-for="CreatedDate"></label>
                    <input asp-for="CreatedDate" class="form-control"/>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Files" class="control-label"></label>
                <input asp-for="Files" multiple/>
                <span asp-validation-for="Files" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlbumId" class="control-label"></label>
                <select asp-for="AlbumId" asp-items="@(new SelectList(ViewBag.AlbumId, "Id","Title"))">
                    <option></option>
                </select>
                <span asp-validation-for="AlbumId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}