@model IEnumerable<OnlineGallery.ViewModels.ImageViewModels.ImageViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="container"> @*used to show images on browser.*@
    <div class="row">
        @foreach(var item in Model)
        {
            <div class="col-m-3 ">
                <a href="@("/uploads/" + item.Url)" target="_parent">
                    <img src="@("/uploads/" + item.Url)" alt="Lights" class="img-thumbnail">    
                </a>
            </div>
        }
    </div>
</div>
